In [21]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [22]:
 url= "https://books.toscrape.com/catalogue/category/books_1/index.html"

In [23]:
response = requests.get(url)
response = response.content
soup = BeautifulSoup(response,'html.parser')

In [25]:
ol = soup.find('ol')
articles= ol.find_all('article',class_ = 'product_pod')

In [37]:
for i in range(1, 5):
    url = f"https://books.toscrape.com/catalogue/page-{i}.html"
    response = requests.get(url)
    response = response.content
    soup = BeautifulSoup(response, 'html.parser')
    ol = soup.find('ol')
    articles = ol.find_all('article', class_='product_pod')
    for article in articles:
        image = article.find('img')
        title = image.attrs['alt']
        starTag = article.find('p')
        star = starTag['class'][1]
        price = article.find('p', class_='price_color').text
        price = float(price[1:])
        books.append([title, star, price])

In [38]:
df = pd.DataFrame(books,columns=["Title","Price","Star Rating"])
df.to_csv("Books.csv")

In [39]:
books_df=pd.read_csv("Books.csv")

books_df.head()

   Unnamed: 0                                  Title  Price  Star Rating
0           0                   A Light in the Attic  Three        51.77
1           1                     Tipping the Velvet    One        53.74
2           2                             Soumission    One        50.10
3           3                          Sharp Objects   Four        47.82
4           4  Sapiens: A Brief History of Humankind   Five        54.23

In [62]:
import pandas as pd
import pymongo
import json

In [87]:
client = pymongo.MongoClient('mongodb://localhost:27017/myRandomDB')

In [46]:
books_df=pd.read_csv('Books.csv')
print(f'The Shape of books_df is :{books_df.shape}')

books_df.head()

The Shape of books_df is :(80, 4)

   Unnamed: 0                                  Title  Price  Star Rating
0           0                   A Light in the Attic  Three        51.77
1           1                     Tipping the Velvet    One        53.74
2           2                             Soumission    One        50.10
3           3                          Sharp Objects   Four        47.82
4           4  Sapiens: A Brief History of Humankind   Five        54.23

In [52]:
books_df.rename(columns={'Star Rating':'Star_rating'},inplace=True)
books_df.head()

   Unnamed: 0                                  Title  Price  Star_rating
0           0                   A Light in the Attic  Three        51.77
1           1                     Tipping the Velvet    One        53.74
2           2                             Soumission    One        50.10
3           3                          Sharp Objects   Four        47.82
4           4  Sapiens: A Brief History of Humankind   Five        54.23

In [54]:
books_df.drop(columns={'Unnamed: 0'},inplace=True)
books_df.tail()

                                                Title  Price  Star_rating
75                                           Security    Two        39.25
76      Saga, Volume 6 (Saga (Collected Editions) #6)  Three        25.02
77      Saga, Volume 5 (Saga (Collected Editions) #5)    Two        51.04
78  Reskilling America: Learning to Labor in the T...    Two        19.83
79  Rat Queens, Vol. 3: Demons (Rat Queens (Collec...  Three        50.40

In [56]:
data = books_df.to_dict(orient='records')
print(data)

[{'Title': 'A Light in the Attic', 'Price': 'Three', 'Star_rating': 51.77}, {'Title': 'Tipping the Velvet', 'Price': 'One', 'Star_rating': 53.74}, {'Title': 'Soumission', 'Price': 'One', 'Star_rating': 50.1}, {'Title': 'Sharp Objects', 'Price': 'Four', 'Star_rating': 47.82}, {'Title': 'Sapiens: A Brief History of Humankind', 'Price': 'Five', 'Star_rating': 54.23}, {'Title': 'The Requiem Red', 'Price': 'One', 'Star_rating': 22.65}, {'Title': 'The Dirty Little Secrets of Getting Your Dream Job', 'Price': 'Four', 'Star_rating': 33.34}, {'Title': 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull', 'Price': 'Three', 'Star_rating': 17.93}, {'Title': 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics', 'Price': 'Four', 'Star_rating': 22.6}, {'Title': 'The Black Maria', 'Price': 'One', 'Star_rating': 52.15}, {'Title': 'Starving Hearts (Triangular Trade Trilogy, #1)', 'Price': 'Two', 'Star_rating': 13.99}, {'Title': "Shakespeare's Sonnets", 'Price': 'Four', 'Star_rating': 20.66}, {'Title': 'Set Me Free', 'Price': 'Five', 'Star_rating': 17.46}, {'Title': "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)", 'Price': 'Five', 'Star_rating': 52.29}, {'Title': 'Rip it Up and Start Again', 'Price': 'Five', 'Star_rating': 35.02}, {'Title': 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991', 'Price': 'Three', 'Star_rating': 57.25}, {'Title': 'Olio', 'Price': 'One', 'Star_rating': 23.88}, {'Title': 'Mesaerion: The Best Science Fiction Stories 1800-1849', 'Price': 'One', 'Star_rating': 37.59}, {'Title': 'Libertarianism for Beginners', 'Price': 'Two', 'Star_rating': 51.33}, {'Title': "It's Only the Himalayas", 'Price': 'Two', 'Star_rating': 45.17}, {'Title': 'In Her Wake', 'Price': 'One', 'Star_rating': 12.84}, {'Title': 'How Music Works', 'Price': 'Two', 'Star_rating': 37.32}, {'Title': 'Foolproof Preserving: A Guide to Small Batch Jams, Jellies, Pickles, Condiments, and More: A Foolproof Guide to Making Small Batch Jams, Jellies, Pickles, Condiments, and More', 'Price': 'Three', 'Star_rating': 30.52}, {'Title': 'Chase Me (Paris Nights #2)', 'Price': 'Five', 'Star_rating': 25.27}, {'Title': 'Black Dust', 'Price': 'Five', 'Star_rating': 34.53}, {'Title': 'Birdsong: A Story in Pictures', 'Price': 'Three', 'Star_rating': 54.64}, {'Title': "America's Cradle of Quarterbacks: Western Pennsylvania's Football Factory from Johnny Unitas to Joe Montana", 'Price': 'Three', 'Star_rating': 22.5}, {'Title': 'Aladdin and His Wonderful Lamp', 'Price': 'Three', 'Star_rating': 53.13}, {'Title': 'Worlds Elsewhere: Journeys Around Shakespeare’s Globe', 'Price': 'Five', 'Star_rating': 40.3}, {'Title': 'Wall and Piece', 'Price': 'Four', 'Star_rating': 44.18}, {'Title': 'The Four Agreements: A Practical Guide to Personal Freedom', 'Price': 'Five', 'Star_rating': 17.66}, {'Title': 'The Five Love Languages: How to Express Heartfelt Commitment to Your Mate', 'Price': 'Three', 'Star_rating': 31.05}, {'Title': 'The Elephant Tree', 'Price': 'Five', 'Star_rating': 23.82}, {'Title': 'The Bear and the Piano', 'Price': 'One', 'Star_rating': 36.89}, {'Title': "Sophie's World", 'Price': 'Five', 'Star_rating': 15.94}, {'Title': 'Penny Maybe', 'Price': 'Three', 'Star_rating': 33.29}, {'Title': 'Maude (1883-1993):She Grew Up with the country', 'Price': 'Two', 'Star_rating': 18.02}, {'Title': 'In a Dark, Dark Wood', 'Price': 'One', 'Star_rating': 19.63}, {'Title': 'Behind Closed Doors', 'Price': 'Four', 'Star_rating': 52.22}, {'Title': "You can't bury them all: Poems", 'Price': 'Two', 'Star_rating': 33.63}, {'Title': 'Slow States of Collapse: Poems', 'Price': 'Three', 'Star_rating': 57.31}, {'Title': 'Reasons to Stay Alive', 'Price': 'Two', 'Star_rating': 26.41}, {'Title': 'Private Paris (Private #10)', 'Price': 'Five', 'Star_rating': 47.61}, {'Title': '#HigherSelfie: Wake Up Your Life. Free Your Soul. Find Your Tribe.', 'Price': 'Five', 'Star_rating': 23.11}, {'Title': 'Without Borders (Wanderlove #1)', 'Price': 'Two', 'Star_rating': 45.07}, {'Title': 'When We Collided', 'Price': 'One', 'Star_rating': 31.77}, {'Title': 'We Love You, Charlie Freeman', 'Price': 'Five', 'Star_rating': 50.27}, {'Title': 'Untitled Collection: Sabbath Poems 2014', 'Price': 'Four', 'Star_rating': 14.27}, {'Title': 'Unseen City: The Majesty of Pigeons, the Discreet Charm of Snails & Other Wonders of the Urban Wilderness', 'Price': 'Four', 'Star_rating': 44.18}, {'Title': 'Unicorn Tracks', 'Price': 'Three', 'Star_rating': 18.78}, {'Title': 'Unbound: How Eight Technologies Made Us Human, Transformed Society, and Brought Our World to the Brink', 'Price': 'One', 'Star_rating': 25.52}, {'Title': 'Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRoNiCLE #2)', 'Price': 'One', 'Star_rating': 16.28}, {'Title': 'Throwing Rocks at the Google Bus: How Growth Became the Enemy of Prosperity', 'Price': 'Three', 'Star_rating': 31.12}, {'Title': 'This One Summer', 'Price': 'Four', 'Star_rating': 19.49}, {'Title': 'Thirst', 'Price': 'Five', 'Star_rating': 17.27}, {'Title': 'The Torch Is Passed: A Harding Family Story', 'Price': 'One', 'Star_rating': 19.09}, {'Title': 'The Secret of Dreadwillow Carse', 'Price': 'One', 'Star_rating': 56.13}, {'Title': 'The Pioneer Woman Cooks: Dinnertime: Comfort Classics, Freezer Food, 16-Minute Meals, and Other Delicious Ways to Solve Supper!', 'Price': 'One', 'Star_rating': 56.41}, {'Title': 'The Past Never Ends', 'Price': 'Four', 'Star_rating': 56.5}, {'Title': 'The Natural History of Us (The Fine Art of Pretending #2)', 'Price': 'Three', 'Star_rating': 45.22}, {'Title': 'The Nameless City (The Nameless City #1)', 'Price': 'Four', 'Star_rating': 38.16}, {'Title': 'The Murder That Never Was (Forensic Instincts #5)', 'Price': 'Three', 'Star_rating': 54.11}, {'Title': "The Most Perfect Thing: Inside (and Outside) a Bird's Egg", 'Price': 'Four', 'Star_rating': 42.96}, {'Title': 'The Mindfulness and Acceptance Workbook for Anxiety: A Guide to Breaking Free from Anxiety, Phobias, and Worry Using Acceptance and Commitment Therapy', 'Price': 'Four', 'Star_rating': 23.89}, {'Title': 'The Life-Changing Magic of Tidying Up: The Japanese Art of Decluttering and Organizing', 'Price': 'Three', 'Star_rating': 16.77}, {'Title': 'The Inefficiency Assassin: Time Management Tactics for Working Smarter, Not Longer', 'Price': 'Five', 'Star_rating': 20.59}, {'Title': 'The Gutsy Girl: Escapades for Your Life of Epic Adventure', 'Price': 'One', 'Star_rating': 37.13}, {'Title': 'The Electric Pencil: Drawings from Inside State Hospital No. 3', 'Price': 'One', 'Star_rating': 56.06}, {'Title': 'The Death of Humanity: and the Case for Life', 'Price': 'Four', 'Star_rating': 58.11}, {'Title': 'The Bulletproof Diet: Lose up to a Pound a Day, Reclaim Energy and Focus, Upgrade Your Life', 'Price': 'Three', 'Star_rating': 49.05}, {'Title': 'The Art Forger', 'Price': 'Three', 'Star_rating': 40.76}, {'Title': 'The Age of Genius: The Seventeenth Century and the Birth of the Modern Mind', 'Price': 'One', 'Star_rating': 19.73}, {'Title': "The Activist's Tao Te Ching: Ancient Advice for a Modern Revolution", 'Price': 'Five', 'Star_rating': 32.24}, {'Title': 'Spark Joy: An Illustrated Master Class on the Art of Organizing and Tidying Up', 'Price': 'Four', 'Star_rating': 41.83}, {'Title': 'Soul Reader', 'Price': 'Two', 'Star_rating': 39.58}, {'Title': 'Security', 'Price': 'Two', 'Star_rating': 39.25}, {'Title': 'Saga, Volume 6 (Saga (Collected Editions) #6)', 'Price': 'Three', 'Star_rating': 25.02}, {'Title': 'Saga, Volume 5 (Saga (Collected Editions) #5)', 'Price': 'Two', 'Star_rating': 51.04}, {'Title': 'Reskilling America: Learning to Labor in the Twenty-First Century', 'Price': 'Two', 'Star_rating': 19.83}, {'Title': 'Rat Queens, Vol. 3: Demons (Rat Queens (Collected Editions) #11-15)', 'Price': 'Three', 'Star_rating': 50.4}]

In [88]:
db = client['WebScrapping']
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'WebScrapping')

In [89]:
db.Books.insert_many(data)

In [67]:
from pprint import PrettyPrinter

In [68]:
pp= PrettyPrinter(indent=2)

In [90]:
pp.pprint(list(client.list_databases()))

[ {'empty': False, 'name': 'WebScrapping', 'sizeOnDisk': 8192},
  {'empty': False, 'name': 'admin', 'sizeOnDisk': 40960},
  {'empty': False, 'name': 'config', 'sizeOnDisk': 12288},
  {'empty': False, 'name': 'local', 'sizeOnDisk': 40960}]

In [91]:
db= client['WebScrapping']

In [92]:
for c in db.list_collections():
    print(c['name'])

Books

In [93]:
mycollection=db['Books']
mycollection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'WebScrapping'), 'Books')

In [94]:
mycollection.count_documents({})

80

In [95]:
first_record = mycollection.find_one({})
pp.pprint(first_record)

{ 'Price': 'Three',
  'Star_rating': 51.77,
  'Title': 'A Light in the Attic',
  '_id': ObjectId('6496513e6e5a637da98e0e9c')}

In [96]:
all_records= mycollection.find({})
pp.pprint(all_records)

<pymongo.cursor.Cursor object at 0x0000020A03E81550>

In [97]:
for row in all_records:pp.pprint(row)

{ 'Price': 'Three',
  'Star_rating': 51.77,
  'Title': 'A Light in the Attic',
  '_id': ObjectId('6496513e6e5a637da98e0e9c')}
{ 'Price': 'One',
  'Star_rating': 53.74,
  'Title': 'Tipping the Velvet',
  '_id': ObjectId('6496513e6e5a637da98e0e9d')}
{ 'Price': 'One',
  'Star_rating': 50.1,
  'Title': 'Soumission',
  '_id': ObjectId('6496513e6e5a637da98e0e9e')}
{ 'Price': 'Four',
  'Star_rating': 47.82,
  'Title': 'Sharp Objects',
  '_id': ObjectId('6496513e6e5a637da98e0e9f')}
{ 'Price': 'Five',
  'Star_rating': 54.23,
  'Title': 'Sapiens: A Brief History of Humankind',
  '_id': ObjectId('6496513e6e5a637da98e0ea0')}
{ 'Price': 'One',
  'Star_rating': 22.65,
  'Title': 'The Requiem Red',
  '_id': ObjectId('6496513e6e5a637da98e0ea1')}
{ 'Price': 'Four',
  'Star_rating': 33.34,
  'Title': 'The Dirty Little Secrets of Getting Your Dream Job',
  '_id': ObjectId('6496513e6e5a637da98e0ea2')}
{ 'Price': 'Three',
  'Star_rating': 17.93,
  'Title': 'The Coming Woman: A Novel Based on the Life of the Infamous '
           'Feminist, Victoria Woodhull',
  '_id': ObjectId('6496513e6e5a637da98e0ea3')}
{ 'Price': 'Four',
  'Star_rating': 22.6,
  'Title': 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold '
           'at the 1936 Berlin Olympics',
  '_id': ObjectId('6496513e6e5a637da98e0ea4')}
{ 'Price': 'One',
  'Star_rating': 52.15,
  'Title': 'The Black Maria',
  '_id': ObjectId('6496513e6e5a637da98e0ea5')}
{ 'Price': 'Two',
  'Star_rating': 13.99,
  'Title': 'Starving Hearts (Triangular Trade Trilogy, #1)',
  '_id': ObjectId('6496513e6e5a637da98e0ea6')}
{ 'Price': 'Four',
  'Star_rating': 20.66,
  'Title': "Shakespeare's Sonnets",
  '_id': ObjectId('6496513e6e5a637da98e0ea7')}
{ 'Price': 'Five',
  'Star_rating': 17.46,
  'Title': 'Set Me Free',
  '_id': ObjectId('6496513e6e5a637da98e0ea8')}
{ 'Price': 'Five',
  'Star_rating': 52.29,
  'Title': "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
  '_id': ObjectId('6496513e6e5a637da98e0ea9')}
{ 'Price': 'Five',
  'Star_rating': 35.02,
  'Title': 'Rip it Up and Start Again',
  '_id': ObjectId('6496513e6e5a637da98e0eaa')}
{ 'Price': 'Three',
  'Star_rating': 57.25,
  'Title': 'Our Band Could Be Your Life: Scenes from the American Indie '
           'Underground, 1981-1991',
  '_id': ObjectId('6496513e6e5a637da98e0eab')}
{ 'Price': 'One',
  'Star_rating': 23.88,
  'Title': 'Olio',
  '_id': ObjectId('6496513e6e5a637da98e0eac')}
{ 'Price': 'One',
  'Star_rating': 37.59,
  'Title': 'Mesaerion: The Best Science Fiction Stories 1800-1849',
  '_id': ObjectId('6496513e6e5a637da98e0ead')}
{ 'Price': 'Two',
  'Star_rating': 51.33,
  'Title': 'Libertarianism for Beginners',
  '_id': ObjectId('6496513e6e5a637da98e0eae')}
{ 'Price': 'Two',
  'Star_rating': 45.17,
  'Title': "It's Only the Himalayas",
  '_id': ObjectId('6496513e6e5a637da98e0eaf')}
{ 'Price': 'One',
  'Star_rating': 12.84,
  'Title': 'In Her Wake',
  '_id': ObjectId('6496513e6e5a637da98e0eb0')}
{ 'Price': 'Two',
  'Star_rating': 37.32,
  'Title': 'How Music Works',
  '_id': ObjectId('6496513e6e5a637da98e0eb1')}
{ 'Price': 'Three',
  'Star_rating': 30.52,
  'Title': 'Foolproof Preserving: A Guide to Small Batch Jams, Jellies, '
           'Pickles, Condiments, and More: A Foolproof Guide to Making Small '
           'Batch Jams, Jellies, Pickles, Condiments, and More',
  '_id': ObjectId('6496513e6e5a637da98e0eb2')}
{ 'Price': 'Five',
  'Star_rating': 25.27,
  'Title': 'Chase Me (Paris Nights #2)',
  '_id': ObjectId('6496513e6e5a637da98e0eb3')}
{ 'Price': 'Five',
  'Star_rating': 34.53,
  'Title': 'Black Dust',
  '_id': ObjectId('6496513e6e5a637da98e0eb4')}
{ 'Price': 'Three',
  'Star_rating': 54.64,
  'Title': 'Birdsong: A Story in Pictures',
  '_id': ObjectId('6496513e6e5a637da98e0eb5')}
{ 'Price': 'Three',
  'Star_rating': 22.5,
  'Title': "America's Cradle of Quarterbacks: Western Pennsylvania's Football "
           'Factory from Johnny Unitas to Joe Montana',
  '_id': ObjectId('6496513e6e5a637da98e0eb6')}
{ 'Price': 'Three',
  'Star_rating': 53.13,
  'Title': 'Aladdin and His Wonderful Lamp',
  '_id': ObjectId('6496513e6e5a637da98e0eb7')}
{ 'Price': 'Five',
  'Star_rating': 40.3,
  'Title': 'Worlds Elsewhere: Journeys Around Shakespeare’s Globe',
  '_id': ObjectId('6496513e6e5a637da98e0eb8')}
{ 'Price': 'Four',
  'Star_rating': 44.18,
  'Title': 'Wall and Piece',
  '_id': ObjectId('6496513e6e5a637da98e0eb9')}
{ 'Price': 'Five',
  'Star_rating': 17.66,
  'Title': 'The Four Agreements: A Practical Guide to Personal Freedom',
  '_id': ObjectId('6496513e6e5a637da98e0eba')}
{ 'Price': 'Three',
  'Star_rating': 31.05,
  'Title': 'The Five Love Languages: How to Express Heartfelt Commitment to '
           'Your Mate',
  '_id': ObjectId('6496513e6e5a637da98e0ebb')}
{ 'Price': 'Five',
  'Star_rating': 23.82,
  'Title': 'The Elephant Tree',
  '_id': ObjectId('6496513e6e5a637da98e0ebc')}
{ 'Price': 'One',
  'Star_rating': 36.89,
  'Title': 'The Bear and the Piano',
  '_id': ObjectId('6496513e6e5a637da98e0ebd')}
{ 'Price': 'Five',
  'Star_rating': 15.94,
  'Title': "Sophie's World",
  '_id': ObjectId('6496513e6e5a637da98e0ebe')}
{ 'Price': 'Three',
  'Star_rating': 33.29,
  'Title': 'Penny Maybe',
  '_id': ObjectId('6496513e6e5a637da98e0ebf')}
{ 'Price': 'Two',
  'Star_rating': 18.02,
  'Title': 'Maude (1883-1993):She Grew Up with the country',
  '_id': ObjectId('6496513e6e5a637da98e0ec0')}
{ 'Price': 'One',
  'Star_rating': 19.63,
  'Title': 'In a Dark, Dark Wood',
  '_id': ObjectId('6496513e6e5a637da98e0ec1')}
{ 'Price': 'Four',
  'Star_rating': 52.22,
  'Title': 'Behind Closed Doors',
  '_id': ObjectId('6496513e6e5a637da98e0ec2')}
{ 'Price': 'Two',
  'Star_rating': 33.63,
  'Title': "You can't bury them all: Poems",
  '_id': ObjectId('6496513e6e5a637da98e0ec3')}
{ 'Price': 'Three',
  'Star_rating': 57.31,
  'Title': 'Slow States of Collapse: Poems',
  '_id': ObjectId('6496513e6e5a637da98e0ec4')}
{ 'Price': 'Two',
  'Star_rating': 26.41,
  'Title': 'Reasons to Stay Alive',
  '_id': ObjectId('6496513e6e5a637da98e0ec5')}
{ 'Price': 'Five',
  'Star_rating': 47.61,
  'Title': 'Private Paris (Private #10)',
  '_id': ObjectId('6496513e6e5a637da98e0ec6')}
{ 'Price': 'Five',
  'Star_rating': 23.11,
  'Title': '#HigherSelfie: Wake Up Your Life. Free Your Soul. Find Your Tribe.',
  '_id': ObjectId('6496513e6e5a637da98e0ec7')}
{ 'Price': 'Two',
  'Star_rating': 45.07,
  'Title': 'Without Borders (Wanderlove #1)',
  '_id': ObjectId('6496513e6e5a637da98e0ec8')}
{ 'Price': 'One',
  'Star_rating': 31.77,
  'Title': 'When We Collided',
  '_id': ObjectId('6496513e6e5a637da98e0ec9')}
{ 'Price': 'Five',
  'Star_rating': 50.27,
  'Title': 'We Love You, Charlie Freeman',
  '_id': ObjectId('6496513e6e5a637da98e0eca')}
{ 'Price': 'Four',
  'Star_rating': 14.27,
  'Title': 'Untitled Collection: Sabbath Poems 2014',
  '_id': ObjectId('6496513e6e5a637da98e0ecb')}
{ 'Price': 'Four',
  'Star_rating': 44.18,
  'Title': 'Unseen City: The Majesty of Pigeons, the Discreet Charm of Snails '
           '& Other Wonders of the Urban Wilderness',
  '_id': ObjectId('6496513e6e5a637da98e0ecc')}
{ 'Price': 'Three',
  'Star_rating': 18.78,
  'Title': 'Unicorn Tracks',
  '_id': ObjectId('6496513e6e5a637da98e0ecd')}
{ 'Price': 'One',
  'Star_rating': 25.52,
  'Title': 'Unbound: How Eight Technologies Made Us Human, Transformed '
           'Society, and Brought Our World to the Brink',
  '_id': ObjectId('6496513e6e5a637da98e0ece')}
{ 'Price': 'One',
  'Star_rating': 16.28,
  'Title': 'Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRoNiCLE #2)',
  '_id': ObjectId('6496513e6e5a637da98e0ecf')}
{ 'Price': 'Three',
  'Star_rating': 31.12,
  'Title': 'Throwing Rocks at the Google Bus: How Growth Became the Enemy of '
           'Prosperity',
  '_id': ObjectId('6496513e6e5a637da98e0ed0')}
{ 'Price': 'Four',
  'Star_rating': 19.49,
  'Title': 'This One Summer',
  '_id': ObjectId('6496513e6e5a637da98e0ed1')}
{ 'Price': 'Five',
  'Star_rating': 17.27,
  'Title': 'Thirst',
  '_id': ObjectId('6496513e6e5a637da98e0ed2')}
{ 'Price': 'One',
  'Star_rating': 19.09,
  'Title': 'The Torch Is Passed: A Harding Family Story',
  '_id': ObjectId('6496513e6e5a637da98e0ed3')}
{ 'Price': 'One',
  'Star_rating': 56.13,
  'Title': 'The Secret of Dreadwillow Carse',
  '_id': ObjectId('6496513e6e5a637da98e0ed4')}
{ 'Price': 'One',
  'Star_rating': 56.41,
  'Title': 'The Pioneer Woman Cooks: Dinnertime: Comfort Classics, Freezer '
           'Food, 16-Minute Meals, and Other Delicious Ways to Solve Supper!',
  '_id': ObjectId('6496513e6e5a637da98e0ed5')}
{ 'Price': 'Four',
  'Star_rating': 56.5,
  'Title': 'The Past Never Ends',
  '_id': ObjectId('6496513e6e5a637da98e0ed6')}
{ 'Price': 'Three',
  'Star_rating': 45.22,
  'Title': 'The Natural History of Us (The Fine Art of Pretending #2)',
  '_id': ObjectId('6496513e6e5a637da98e0ed7')}
{ 'Price': 'Four',
  'Star_rating': 38.16,
  'Title': 'The Nameless City (The Nameless City #1)',
  '_id': ObjectId('6496513e6e5a637da98e0ed8')}
{ 'Price': 'Three',
  'Star_rating': 54.11,
  'Title': 'The Murder That Never Was (Forensic Instincts #5)',
  '_id': ObjectId('6496513e6e5a637da98e0ed9')}
{ 'Price': 'Four',
  'Star_rating': 42.96,
  'Title': "The Most Perfect Thing: Inside (and Outside) a Bird's Egg",
  '_id': ObjectId('6496513e6e5a637da98e0eda')}
{ 'Price': 'Four',
  'Star_rating': 23.89,
  'Title': 'The Mindfulness and Acceptance Workbook for Anxiety: A Guide to '
           'Breaking Free from Anxiety, Phobias, and Worry Using Acceptance '
           'and Commitment Therapy',
  '_id': ObjectId('6496513e6e5a637da98e0edb')}
{ 'Price': 'Three',
  'Star_rating': 16.77,
  'Title': 'The Life-Changing Magic of Tidying Up: The Japanese Art of '
           'Decluttering and Organizing',
  '_id': ObjectId('6496513e6e5a637da98e0edc')}
{ 'Price': 'Five',
  'Star_rating': 20.59,
  'Title': 'The Inefficiency Assassin: Time Management Tactics for Working '
           'Smarter, Not Longer',
  '_id': ObjectId('6496513e6e5a637da98e0edd')}
{ 'Price': 'One',
  'Star_rating': 37.13,
  'Title': 'The Gutsy Girl: Escapades for Your Life of Epic Adventure',
  '_id': ObjectId('6496513e6e5a637da98e0ede')}
{ 'Price': 'One',
  'Star_rating': 56.06,
  'Title': 'The Electric Pencil: Drawings from Inside State Hospital No. 3',
  '_id': ObjectId('6496513e6e5a637da98e0edf')}
{ 'Price': 'Four',
  'Star_rating': 58.11,
  'Title': 'The Death of Humanity: and the Case for Life',
  '_id': ObjectId('6496513e6e5a637da98e0ee0')}
{ 'Price': 'Three',
  'Star_rating': 49.05,
  'Title': 'The Bulletproof Diet: Lose up to a Pound a Day, Reclaim Energy and '
           'Focus, Upgrade Your Life',
  '_id': ObjectId('6496513e6e5a637da98e0ee1')}
{ 'Price': 'Three',
  'Star_rating': 40.76,
  'Title': 'The Art Forger',
  '_id': ObjectId('6496513e6e5a637da98e0ee2')}
{ 'Price': 'One',
  'Star_rating': 19.73,
  'Title': 'The Age of Genius: The Seventeenth Century and the Birth of the '
           'Modern Mind',
  '_id': ObjectId('6496513e6e5a637da98e0ee3')}
{ 'Price': 'Five',
  'Star_rating': 32.24,
  'Title': "The Activist's Tao Te Ching: Ancient Advice for a Modern "
           'Revolution',
  '_id': ObjectId('6496513e6e5a637da98e0ee4')}
{ 'Price': 'Four',
  'Star_rating': 41.83,
  'Title': 'Spark Joy: An Illustrated Master Class on the Art of Organizing '
           'and Tidying Up',
  '_id': ObjectId('6496513e6e5a637da98e0ee5')}
{ 'Price': 'Two',
  'Star_rating': 39.58,
  'Title': 'Soul Reader',
  '_id': ObjectId('6496513e6e5a637da98e0ee6')}
{ 'Price': 'Two',
  'Star_rating': 39.25,
  'Title': 'Security',
  '_id': ObjectId('6496513e6e5a637da98e0ee7')}
{ 'Price': 'Three',
  'Star_rating': 25.02,
  'Title': 'Saga, Volume 6 (Saga (Collected Editions) #6)',
  '_id': ObjectId('6496513e6e5a637da98e0ee8')}
{ 'Price': 'Two',
  'Star_rating': 51.04,
  'Title': 'Saga, Volume 5 (Saga (Collected Editions) #5)',
  '_id': ObjectId('6496513e6e5a637da98e0ee9')}
{ 'Price': 'Two',
  'Star_rating': 19.83,
  'Title': 'Reskilling America: Learning to Labor in the Twenty-First Century',
  '_id': ObjectId('6496513e6e5a637da98e0eea')}
{ 'Price': 'Three',
  'Star_rating': 50.4,
  'Title': 'Rat Queens, Vol. 3: Demons (Rat Queens (Collected Editions) '
           '#11-15)',
  '_id': ObjectId('6496513e6e5a637da98e0eeb')}

In [98]:
all_records=mycollection.find({})

In [99]:
list_all_records= list(all_records)

In [101]:
books_df=pd.DataFrame(list_all_records)
books_df.head()

,_id,Title,Price,Star_rating
0,6496513e6e5a637da98e0e9c,A Light in the Attic,Three,51.77
1,6496513e6e5a637da98e0e9d,Tipping the Velvet,One,53.74
2,6496513e6e5a637da98e0e9e,Soumission,One,50.10
3,6496513e6e5a637da98e0e9f,Sharp Objects,Four,47.82
4,6496513e6e5a637da98e0ea0,Sapiens: A Brief History of Humankind,Five,54.23

In [102]:
books_df.tail()

,_id,Title,Price,Star_rating
75,6496513e6e5a637da98e0ee7,Security,Two,39.25
76,6496513e6e5a637da98e0ee8,"Saga, Volume 6 (Saga (Collected Editions) #6)",Three,25.02
77,6496513e6e5a637da98e0ee9,"Saga, Volume 5 (Saga (Collected Editions) #5)",Two,51.04
78,6496513e6e5a637da98e0eea,Reskilling America: Learning to Labor in the T...,Two,19.83
79,6496513e6e5a637da98e0eeb,"Rat Queens, Vol. 3: Demons (Rat Queens (Collec...",Three,50.40

In [103]:
books_df.shape

(80, 4)